<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/cars.css">
    <title>More Cars</title>
</head>
<body>

    <div class="icon">
    
        <p1> Car </p1><p2>Rental</p2>
        <div class="navbar">
            <a href="/home">Home</a>
            <a href="#services">Services</a>
            <a href="/catalogue"> Car Catalogue</a>
            <a href="/cars"> More Cars</a>
        </div>
    </div>

    <div class="container-fluid">
    <div class="container">

    <div class="search">
    <h1>All Cars</h1>
    <input type="text" name="" id="find" placeholder="search here...." onkeyup="search()">
    </div>

    <div class="product-list">
        
 {{#each card}}
    <div class="product">
    <div class="image"></div>
    <h4>Car Name:<u>  {{this.carname}}</u></h4>
    <h3>Price per hour:<u> {{this.price}}</u></h3>
    <button onclick="location.href='/lease'">RENT</button>
</div>
{{/each}}

    {{!-- <div class="product"> 
        <div class="image"></div>
        <p id="car">Eon </p>
        <h3><u>Rs.118/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
        <div class="image"></div>
        <p id="car">Maruti Suzuki </p>
        <h3><u>Rs.200/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
        <div class="image"></div>
        <p>Magnite </p>
        <h3><u>Rs.258/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Nexon </p>
        <h3><u>Rs.300/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Sonet </p>
        <h3><u>Rs.218/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Venue </p>
        <h3><u>Rs.350/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Volvo </p>
        <h3><u>Rs.500/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Alto </p>
        <h3><u>Rs.178/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Creta </p>
        <h3><u>Rs.250/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Swift </p>
        <h3><u>Rs.200/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Verna </p>
        <h3><u>Rs.308/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div>
    <div class="product">
         <div class="image"></div>
        <p id="car">Dzire </p>
        <h3><u>Rs.254/hr</u></h3>
        <button onclick="location.href='/lease'">RENT</button>
    </div> --}}
</div>
</div>
</div>
</body>

<script>
    let car = document.getElementById('car')
    
    function search(){
        let filter = document.getElementById('find').value.toUpperCase();
        let item = document.querySelectorAll('.product');
        let l = document.getElementsByTagName('u');

        for(var i=0; i<l.length;i++){
            let a=item[i].getElementsByTagName('u')[0];
            let value=a.innerHTML || a.innerText || a.textContent;
            if(value.toUpperCase().indexOf(filter) > -1) {
                item[i].style.display="";

                var cellValue = a.innerText
                localStorage.setItem("cellValue", cellValue);
                }
                else
                {
                item[i].style.display="none";
                }
        }
    }
</script>

</html>

{{!-- create dynamic div  --}}