<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/checkout.css">
    <title>Check Out</title>
</head>
<body>

{{cook}}
    <div class="heading" >
        <div class="head">
    <h1>Ready For Checkout !!!</h1><br>
    <p>Contact Info</p></div>

    <div class="image">  
    </div>

   {{!-- <div class="fir"> 
    <div class="one">
        <p>First Name:</p>
    </div>
    <div class="two">
        <p>Last Name:</p>
    </div>
</div>




    <form action="" method="POST">
         <div class="inrow">
         <label for="fname"></label><br>
        <input type="text" id="fname" name="fname" placeholder=" Jake "><br><br>
        <label for="lname"></label><br>
        <input  type="text" id="lname" name="lname" placeholder=" Colsen " ><br><br>

    </div>
    </form> --}}

    <div class="fir"> 
        <div class="one">
            <p>Phone No.:</p>
        </div>
        <div class="two">
            <p>Email:</p>
        </div>
        <div class="three">
            <p>CarName:</p>
        </div>
        <div class="four">
            <p>Time Period:</p>
        </div>
    </div>
       

    <form action="/mail" method="POST">
        <div class="inrow">
        <label for="phone"></label><br>
        <input type="number" id="phone" name="phone" placeholder=" 9564783241 "><br><br>
        <label for="Email"></label><br>
        <input  type="email" id="email" name="email" placeholder=" jakecolsen123@gmail.com " ><br><br>
        <label for="carname"></label><br>
        <input  type="text" id="carname" name="carname" placeholder=" Car Name " ><br><br>
         <label for="duration"></label><br>
        <input  type="number" id="duration" name="duration" placeholder="Time duration in hrs" ><br><br>
    </div>

    <div class="order">
            <button>Place Order</button>
        </div>
    </form>
<br>
<br>



    {{!-- <div class="head">
        
        <p>How would you like to pay ?</p></div>
       <br> 
           <br>
        <div class="container">
         
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Credit Card</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">Cash</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">Google Pay</label><br>
            
        </div> --}}
        {{!-- <form action="/mail" method="POST">
        <div class="order">
            <button>Place Order</button>
        </div>
        </form> --}}


<script>
    
    const email = document.getElementById('email')
    const  getEmail = async(event) =>{
        try{
            let url = `http://localhost:3080/fetch_userdata`
            const response = await fetch(url)
            const data = await response.json()
            await data.forEach(element=>{
                console.log(element.Name)
                if(element.Name === '{{cook}}'){
                    email.value = element.Email
                    var cellValue = localStorage.getItem("cellValue");
                    document.getElementById("carname").value = cellValue;
                }

            })
        } catch(error){
            console.log(error)
        }
    }
    getEmail()
</script>

</html>