<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="./css/home.css">
    
</head>
<body>
    
{{c_name}}
</div>
<div class="entire">
<div class="icon">
    
    <p1> Car </p1><p2>Rental</p2>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#services">Services</a>
        <a href="/catalogue"> Car Catalogue</a>
        <a href="/cars"> More cars</a>
    </div>
</div>

<div class="image">
</div>

<div id= "home"class="one">
<h1>ACCOMPANY YOUR <br> JOURNEY WITH COMFORT</h1>
<p>Car rent service for various terrain with guarenteed quality</p>
<div><div class="container">
    <form action="/search" method="POST">
        <label for="Location"></label>
        <input type="text" id="location" name="Location" placeholder="  Location">
        <label for="carname"></label>
        <input  type="text" id="carname" name="carname" placeholder="  Car Name" >
        <label for="Pickup"></label>
        <input  type="date" id="pickup" name="Pickup" placeholder="  Pickup Date" >
        <label for="Return"></label>
        <input  type="date" id="return" name="Return" placeholder="  Return" >
        <button>SEARCH</button>
    </form>
</div></div></div></div>
   <div id="services" class="two">
       
       <div class="inrow">
        <div class="tit">UNMATCHED BENEFITS</div>
           <div class="subtit">Drive everywhere with freedom</div>
           <div class="lines">
           <div class="l1">Enjoy Unlimited Kilometers</div>
           <div class="l2">Zero Security Deposit</div>
           <div class="l3">Reschedule For Free</div></div>
     <div class="column"><img id="img" src="./img/img1.jpg"></div>
     <div class="column"><img id="img" src="./img/img2.jpg"></div>
     <div class="column"><img id="img" src="./img/img3.jpg"></div>
     <div class="tit1">WE LOVE GIVING BEST EXPERIENCES</div>
     <div class="subtit1">We cover you under all the circumstances to ensure the best journey</div>
    </div>
   </div>
</body>
</html>