<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="./css/login.css">
    
</head>
<body>
    
     
    <div class="container">
        <form action="/login_form" method="post">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Email"><br><br>
            <label for="password"></label>
            <input  type="password" id="password" name="password" placeholder="Password" ><br><br>
            <input type="checkbox" id="check" onclick="myFunction()">Show Password
            <button>LOGIN</button>
        </form>
        <!-- <input type="button" value="LOGIN"> -->
        <p>Don't have an account?<a href="/signup_page">signup Now</a></p>
</div>
    <div class="icon">
        <img id="logo" src="./img/logo.png">
        <h1> Car Rental</h1>
        <div class="navbar">
            <a href="home.html">Home</a>
            <a href="contact.html">contact Us</a>
            <a href="help.html"> Help</a>
        </div>
    </div>
    
    <p id="su"> <b>WELCOME YOU!!</b></p>
    <div class="image"></div>
   
</div>
<script>
    function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</body>
</html>