
.navbar{
    height: fit-content;
    margin-top: 50px;
    font-size: x-large;
    margin-left: 200px;

}

.navbar a{
    
    margin-left: 130px ;
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.icon{
    position: relative;
    width: 100%;
    height: fit-content;
   display: flex;
   

}

#logo{
    width: 130px;
    height: 130px;
    background-color: transparent;
    color: #80e2dd;
    font-size: 35px;
    font-family: Arial;
    /* margin-bottom: 50px; */
    /* margin-top: 10px; */
    /* padding-left: 30px; */
    /* margin-left: 50px;     */
    /* float: right; */
    /* padding-top: 10px; */

}

.container {
    margin-left: 1000px;
    margin-top: 175px;
    width: 700px;
    height: 700px;
    background-color: #2C3F68;
    border-radius: 70px;
    box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.25);
    position: fixed;
  
}

.image{
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    /* object-fit: cover; */
    /* padding-right: 200px; */
    background-image: url(/public/img/Login-amico.png); 
    margin-left: 130px;
    margin-bottom: 2000px;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222 ); */
    filter: drop-shadow(0px 5px 15px #22222257 );
position: fixed;
}

h1{
    margin-right: 100px;
    margin-top: 40px;
    color: #43e5e7;
}

button{
    margin-left: 155px;
    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    width: 260px;
    height: 65px;
    background-color: #43e5e7;
    color: aliceblue;
    border: transparent;
    border-radius: 50px;
}
#su{
    margin-bottom: 20px;
    margin-left: 250px;
    font-size: 45px;
    color: #43e5e7;
    

}

form{
    size: 100px;
    margin-left: 60px;
    text-align: left;
}
label{
    text-align: left;
}

#email{
    width: 530px;
    height: 50px;
    font-size: x-large;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
    /* text-align: left; */
}

#password{
   
    width: 530px;
    height: 50px;
    font-size: x-large;
    border-radius: 20px;
    
}
p{
    margin-top: 50px;
    margin-left: 220px;
    color: aliceblue;
    font-size: large;
}
a{margin-left: 5px;
    font-size: large;
    color: #43e5e7;
}
